<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<controls>
		<include>CommonBackground</include>
		<control type="image">
			<left>{{ScaleX('0')}}</left>
			<top>{{ScaleY('100r')}}</top>
			<width>{{ScaleX('1280')}}</width>
			<height>{{ScaleY('100')}}</height>
			<texture>floor.png</texture>
			<animation effect="slide" start="{{ScaleBorder2('0,10')}}" end="{{ScaleBorder2('0,0')}}" time="150" condition="Window.Previous(Home)">WindowOpen</animation>
			<animation effect="slide" start="{{ScaleBorder2('0,0')}}" end="{{ScaleBorder2('0,10')}}" time="150" condition="Window.Next(Home)">WindowClose</animation>
		</control>
		<control type="group">
			<left>{{ScaleX({{ int(90 - ({SettingPanelExtraWidthL} + {SettingPanelExtraWidthR})/2) }})}}</left>
			<top>{{ScaleY('30')}}</top>
			<animation type="WindowOpen" reversible="false">
				<effect type="zoom" start="80" end="100" center="{{ScaleBorder2('640,360')}}" easing="out" tween="back" time="225" />
				<effect type="fade" start="0" end="100" time="225" />
			</animation>
			<animation type="WindowClose" reversible="false">
				<effect type="zoom" start="100" end="80" center="{{ScaleBorder2('640,360')}}" easing="in" tween="back" time="225" />
				<effect type="fade" start="100" end="0" time="225" />
			</animation>
			<control type="image">
				<left>{{ScaleX('5')}}</left>
				<top>{{ScaleY('5')}}</top>
				<width>{{ScaleX({{ 1090 + {SettingPanelExtraWidthL} + {SettingPanelExtraWidthR} }})}}</width>
				<height>{{ScaleY('630')}}</height>
				<texture border="{{ScaleBorder('15')}}">ContentPanel.png</texture>
			</control>
			<control type="image">
				<left>{{ScaleX('5')}}</left>
				<top>{{ScaleY('625')}}</top>
				<width>{{ScaleX({{ 1090 + {SettingPanelExtraWidthL} + {SettingPanelExtraWidthR} }})}}</width>
				<height>{{ScaleY('64')}}</height>
				<texture border="{{ScaleBorder('15')}}">ContentPanelMirror.png</texture>
			</control>
			<control type="button">
				<description>Close Window button</description>
				<left>{{ScaleX({{ 980 + {SettingPanelExtraWidthL} + {SettingPanelExtraWidthR} }})}}</left>
				<top>{{ScaleY('11')}}</top>
				<width>{{ScaleX('64')}}</width>
				<height>{{ScaleY('32')}}</height>
				<label>-</label>
				<font>-</font>
				<onclick>PreviousMenu</onclick>
				<texturefocus>DialogCloseButton-focus.png</texturefocus>
				<texturenofocus>DialogCloseButton.png</texturenofocus>
				<onleft>1</onleft>
				<onright>1</onright>
				<onup>1</onup>
				<ondown>1</ondown>
				<visible>system.getbool(input.enablemouse)</visible>
			</control>
			<control type="image">
				<description>LOGO</description>
				<left>{{ScaleX('30')}}</left>
				<top>{{ScaleY('15')}}</top>
				<width>{{ScaleX({{ 220 + {SettingPanelExtraWidthL} }})}}</width>
				<height>{{ScaleY('80')}}</height>
				<aspectratio>keep</aspectratio>
				<texture>Confluence_Logo.png</texture>
			</control>
			<control type="list" id="9000">
				<left>{{ScaleX('10')}}</left>
				<top>{{ScaleY('82')}}</top>
				<width>{{ScaleX({{ 260 + {SettingPanelExtraWidthL} }})}}</width>
				<height>{{ScaleY('541')}}</height>
				<onleft>9000</onleft>
				<onright>9001</onright>
				<onup>9000</onup>
				<ondown>9000</ondown>
				<pagecontrol>-</pagecontrol>
				<scrolltime>300</scrolltime>
				<itemlayout height="{{ScaleY('54')}}" width="{{ScaleX({{ 260 + {SettingPanelExtraWidthL} }})}}">
					<control type="image">
						<left>{{ScaleX('0')}}</left>
						<top>{{ScaleY('0')}}</top>
						<width>{{ScaleX({{ 260 + {SettingPanelExtraWidthL} }})}}</width>
						<height>{{ScaleY('55')}}</height>
						<texture border="{{ScaleBorder('5')}}">MenuItemNF.png</texture>
					</control>
					<control type="label">
						<left>{{ScaleX('10')}}</left>
						<top>{{ScaleY('0')}}</top>
						<width>{{ScaleX({{ 240 + {SettingPanelExtraWidthL} }})}}</width>
						<height>{{ScaleY('55')}}</height>
						<font>font24_title</font>
						<textcolor>grey3</textcolor>
						<align>right</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</itemlayout>
				<focusedlayout height="{{ScaleY('54')}}" width="{{ScaleX({{ 260 + {SettingPanelExtraWidthL} }})}}">
					<control type="image">
						<left>{{ScaleX('0')}}</left>
						<top>{{ScaleY('0')}}</top>
						<width>{{ScaleX({{ 260 + {SettingPanelExtraWidthL} }})}}</width>
						<height>{{ScaleY('55')}}</height>
						<texture border="{{ScaleBorder('5')}}">MenuItemFO.png</texture>
					</control>
					<control type="label">
						<left>{{ScaleX('10')}}</left>
						<top>{{ScaleY('0')}}</top>
						<width>{{ScaleX({{ 240 + {SettingPanelExtraWidthL} }})}}</width>
						<height>{{ScaleY('55')}}</height>
						<font>font24_title</font>
						<textcolor>white</textcolor>
						<align>right</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</focusedlayout>
				<content>
					<item id="1">
						<label>480</label>
						<label2>31400</label2>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="2">
						<label>157</label>
						<label2>31401</label2>
						<onclick>ActivateWindow(VideosSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="3">
						<label>31502</label>
						<label2>31409</label2>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<icon>special://skin/backgrounds/tv.jpg</icon>
					</item>
					<item id="4">
						<label>2</label>
						<label2>31402</label2>
						<onclick>ActivateWindow(MusicSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="5">
						<label>1</label>
						<label2>31403</label2>
						<onclick>ActivateWindow(PicturesSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="6">
						<label>8</label>
						<label2>31404</label2>
						<onclick>ActivateWindow(WeatherSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="7">
						<label>24001</label>
						<label2>31408</label2>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
						<icon>-</icon>
					</item>
					<item id="8">
						<label>14036</label>
						<label2>31410</label2>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="9">
						<label>13000</label>
						<label2>31406</label2>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>-</icon>
					</item>
				</content>
			</control>
			<control type="image">
				<left>{{ScaleX({{ 268 + {SettingPanelExtraWidthL} }})}}</left>
				<top>{{ScaleY('10')}}</top>
				<width>{{ScaleX({{ 804 + {SettingPanelExtraWidthR} }})}}</width>
				<height>{{ScaleY('50')}}</height>
				<texture border="{{ScaleBorder('5')}}">black-back2.png</texture>
			</control>
			<control type="image">
				<left>{{ScaleX({{ 268 + {SettingPanelExtraWidthL} }})}}</left>
				<top>{{ScaleY('10')}}</top>
				<width>{{ScaleX({{ 804 + {SettingPanelExtraWidthR} }})}}</width>
				<height>{{ScaleY('54')}}</height>
				<texture>dialogheader.png</texture>
			</control>
			<control type="label">
				<description>header label</description>
				<left>{{ScaleX({{ 300 + {SettingPanelExtraWidthL} }})}}</left>
				<top>{{ScaleY('20')}}</top>
				<width>{{ScaleX({{ 740 + {SettingPanelExtraWidthR} }})}}</width>
				<height>{{ScaleY('30')}}</height>
				<font>font16</font>
				<label>$LOCALIZE[31000] $LOCALIZE[5]</label>
				<align>center</align>
				<aligny>center</aligny>
				<textcolor>white</textcolor>
				<shadowcolor>black</shadowcolor>
			</control>
			<control type="image">
				<left>{{ScaleX({{ 270 + {SettingPanelExtraWidthL} }})}}</left>
				<top>{{ScaleY('60')}}</top>
				<width>{{ScaleX({{ 800 + {SettingPanelExtraWidthR} }})}}</width>
				<height>{{ScaleY({{450 - {SettingDescExtraHeight} }})}}</height>
				<texture border="{{ScaleBorder('5')}}">button-nofocus.png</texture>
			</control>
			<control type="image">
				<left>{{ScaleX({{ 272 + {SettingPanelExtraWidthL} }})}}</left>
				<top>{{ScaleY('62')}}</top>
				<width>{{ScaleX({{ 796 + {SettingPanelExtraWidthR} }})}}</width>
				<height>{{ScaleY({{446 - {SettingDescExtraHeight} }})}}</height>
				<aspectratio>stretch</aspectratio>
				<fadetime>600</fadetime>
				<texture background="true">low_contrast_rpi.png</texture>
				<texture background="true">special://skin/backgrounds/settings.jpg</texture>
			</control>
			<control type="image">
				<left>{{ScaleX({{ 272 + {SettingPanelExtraWidthL} }})}}</left>
				<top>{{ScaleY('62')}}</top>
				<width>{{ScaleX({{ 800 + {SettingPanelExtraWidthR} }})}}</width>
				<height>{{ScaleY('340')}}</height>
				<aspectratio>stretch</aspectratio>
				<texture>GlassOverlay.png</texture>
				<colordiffuse>AAFFFFFF</colordiffuse>
			</control>
			<control type="image">
				<left>{{ScaleX({{ 268 + {SettingPanelExtraWidthL} }})}}</left>
				<top>{{ScaleY({{510 - {SettingDescExtraHeight} }})}}</top>
				<width>{{ScaleX({{ 804 + {SettingPanelExtraWidthR} }})}}</width>
				<height>{{ScaleY({{118 + {SettingDescExtraHeight} }})}}</height>
				<texture border="{{ScaleBorder('5')}}">black-back2.png</texture>
			</control>
			<control type="textbox">
				<description>Appearance Description</description>
				<left>{{ScaleX({{ 300 + {SettingPanelExtraWidthL} }})}}</left>
				<top>{{ScaleY({{522 - {SettingDescExtraHeight} }})}}</top>
				<width>{{ScaleX({{ 740 + {SettingPanelExtraWidthR} }})}}</width>
				<height>{{ScaleY({{98 + {SettingDescExtraHeight} }})}}</height>
				<font>font12</font>
				<label>$INFO[Container(9000).ListItem.Label2]</label>
				<align>left</align>
				<textcolor>white</textcolor>
				<shadowcolor>black</shadowcolor>
				<autoscroll delay="3000" time="1000" repeat="10000">True</autoscroll>
			</control>
		</control>
		<include>CommonNowPlaying</include>
		<include>MainWindowMouseButtons</include>
		<include>BehindDialogFadeOut</include>
		<control type="image">
			<description>Section header image</description>
			<left>{{ScaleX('20')}}</left>
			<top>{{ScaleY('3')}}</top>
			<width>{{ScaleX('35')}}</width>
			<height>{{ScaleY('35')}}</height>
			<aspectratio>keep</aspectratio>
			<texture>icon_system.png</texture>
		</control>
		<control type="grouplist">
			<left>{{ScaleX('65')}}</left>
			<top>{{ScaleY('5')}}</top>
			<width>{{ScaleX('1000')}}</width>
			<height>{{ScaleY('30')}}</height>
			<orientation>horizontal</orientation>
			<align>left</align>
			<itemgap>5</itemgap>
			<control type="label">
				<include>WindowTitleCommons</include>
				<label>$LOCALIZE[5]</label>
			</control>
		</control>
		<include>Clock</include>
	</controls>
</window>
